Congrats, <%= @user.username %>
===============================================
     
You have successfully activated your example.com account,
your username is: <%= @user.username %>.
     
To login to the site, just follow this link: <%= @url %>.
     
Thanks for joining and have a great day!