<p>
  <b>Name:</b>
  <%= @person.first_name %>
  <%= @person.last_name %>
</p>

<p>
  <b>Telephone:</b>
  <%= @person.telephone %>
</p>

<p>
  <b>Address:</b>
  <% @person.street_address %><br>
  <% @person.city %><br>
  <% @person.province %><br>
  <% @person.postal_code %><br>
</p>