<p>
  <b>Name:</b>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>
</p>

<p>
  <b>Telephone:</b>
  <%= f.label :telephone %>
  <%= f.text_field :telephone %>
</p>

<p>
  <b>Address:</b>
  <%= f.label :street_address %>
  <%= f.text_field :street_address %><br>
  <%= f.label :city %>
  <%= f.text_field :city %><br>
  <%= f.label :province %>
  <%= f.text_field :province %><br>
  <%= f.label :postal_code %>
  <%= f.text_field :postal_code %><br>
</p>