<p id="notice"><%# notice %></p>


<%# form_for @user do |form| %>
  <%# form.error_messages %>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

  <%# form.fields_for :people do |people_fields| %>
    <%# render 'people_fields', :form => people_fields %>
  <%# end %>
<%# end %>
<% if @user.people.nil? %>
<!-- Show this if no personal info found -->
<p>Please fill out your personal information by editing your profile.</p>
<% else %>
<!-- Show personal info -->
<% end %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
