<h1>Listing vehicles</h1>

<table>
  <tr>
    <th>License plate</th>
    <th>Colour</th>
    <th>Make</th>
    <th>Model</th>
    <th>Year</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @vehicles.each do |vehicle| %>
  <tr>
    <td><%= vehicle.license_plate %></td>
    <td><%= vehicle.colour %></td>
    <td><%= vehicle.make %></td>
    <td><%= vehicle.model %></td>
    <td><%= vehicle.year %></td>
    <td><%= vehicle.user_id %></td>
    <td><%= link_to 'Show', vehicle %></td>
    <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
    <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Vehicle', new_vehicle_path %>
